$title: 'Roboto', sans-serif;
$subtitle: 'Roboto', sans-serif;
$link: 'Anonymous Pro', monospace;
$text: 'Anonymous Pro', monospace;
$white: #ECEAD3;
$background-white: #F8F7EF;
$black: #494949;
$gray: #A0A0A0;
$background: #FCD116;
$alt-background: #FFE97F;
$section-color: #3A75C4;
$shape-color: #01B8E5;

p {
  color: $black;
}

.header-shape-with-text {
  max-height: 70vh;
  width: 90%;
  max-width: 1400px;
  margin-top: 30px;
}

.header-shape {
  display: none;
}

.header-div {
  position: absolute;
  top: 60px;
  left: 32px;
}

.header-container {
  text-align: center;
}

.header-title {
  font-family: $title;
  font-weight: 800;
  font-size: 200px;
}

.header-text {
  font-family: $text;
  font-size: 50px;
  max-width: 950px;
}

.more-button {
  display: block;
  margin-top: -190px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  &:hover {
    opacity: 0.8;
  }
}

@media only screen and (min-width: 1200px) {
  .header-div {
    top: 100px;
    left: 75px;
  }
}

@media only screen and (min-width: 1400px) {
  .header-shape-with-text {
    max-width: 90%;
  }

  .header-div {
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
  }

  .header-title {
    font-size: 200px;
    width: 3000px;
  }

  .header-text {
    font-size: 80px;
  }
}


@media only screen and (min-width: 1600px) {
  .header-shape-with-text {
    height: 80vh;
    max-width: 100%;
    margin-top: 30px;
  }

  // .header-title {
  //   font-size: 200px;
  //   width: 3000px;
  // }
  //
  // .header-text {
  //   font-size: 80px;
  // }
}

@media only screen and (min-width: 2000px) {
  // .header-shape-with-text {
  //   width: 100%;
  //   margin-top: 20px;
  // }

  .header-div {
    top: 200px;
    left: 200px;
  }

  .header-title {
    font-size: 300px;
  }

  .header-text {
    font-size: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  .header-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 1000px) {
  .header-shape-with-text {
    max-height: 70vh;
    width: 100%;
    max-width: 1400px;
    margin-top: 30px;
  }

  .more-button {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .header-title {
    font-size: 100px;
  }

  .header-text {
    font-size: 45px;
    max-width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .header-shape-with-text {
    display: none;
  }

  .header-title, .header-text {
    display: none;
  }

  .header-shape {
    display: block;
    width: 100%;
    position: absolute;
    top: 40px;
  }
}
