$title: 'Roboto', sans-serif;
$subtitle: 'Roboto', sans-serif;
$link: 'Anonymous Pro', monospace;
$text: 'Anonymous Pro', monospace;
$white: #ECEAD3;
$background-white: #F8F7EF;
$black: #494949;
$gray: #A0A0A0;
$background: #FCD116;
$alt-background: #FFE97F;
$section-color: #3A75C4;
$shape-color: #01B8E5;

.portfolio-container {
  font-family: $text;
  font-size: 1em;
  line-height: 1.2;
  .projects-shape {
    width: 100%;
    max-width: 1450px;
    padding-top: 80px;
    position: relative;
    top: 35px;
  }
  .portfolio-items {
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    background: $alt-background;
  }
}

.portfolio-item {
  text-align: center;
}

.title-img {
  display: block;
  margin: 10% auto 0 auto;
  width: 100%;
  max-width: 800px;
  padding-top: 20px;
}

.edster-title {
  margin: 17% auto 0 auto;
}

.item-info {
  text-align: center;
  .app-buttons {
    text-align: center;
  }
  .view-code, .view-app {
    height: 80px;
    display: inline-block;
    margin-bottom: -145px;
    position: relative;
    &:hover {
      transition: 0.5s ease;
      filter: brightness(90%);
    }
  }
  .view-app {
    margin-left: 60px;
  }
  .hidden {
    visibility: hidden;
  }
  .mockup {
    transition: 0.5s ease;
    width: auto;
    max-width: 1200px;
    max-height: 90vh;
  }
  .dark {
    transition: 0.5s ease;
    filter: brightness(50%);
  }
}

.app-info-container {
  margin-top: -580px;
  position: relative;
  p {
    padding: 10px;
    max-width: 500px;
    margin: 2% auto 2% auto;
    background: #F8F7EF;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  }
}

.last-element {
  margin-bottom: 50%;
}

.highlighted-font {
  background: $shape-color;
}

.highlighted-title {
  background: $background;
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .app-info-container {
    margin-top: 0px;
    position: static;
  }

  .hidden {
    visibility: visible !important;
  }

  .item-info {
    .view-code, .view-app {
      margin-left: 60px;
      height: 40px;
      margin-bottom: 0px;
      position: static;
      margin: 20px 0px 20px 0px;
    }
    .view-app {
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .title-img {
    margin: 20% auto 0 auto;
  }

  .edster-title {
    margin: 27% auto 0 auto;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolio-element {
    padding: 10px;
    margin: 5% auto;
    background: #F8F7EF;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  }

  .title-img {
    width: 90%;
    max-width: 600px;
  }
}
